// variables
// --------------------------
$fa-css-prefix          : fa !default;
$fa-style               : 400 !default;
$fa-style-family        : 'GeneWeb 7.1 webfont subset from Font-Awesome v6.5.1' !default;

$fa-display             : inline-block !default;

$fa-font-display        : block !default;
$fa-font-path           : "../webfonts" !default;

$fa-primary-opacity     : 1 !default;
$fa-secondary-opacity   : .4 !default;

$fa-fw-width            : fa-divide(20em, 16);
$fa-size-scale-2xs      : 10 !default;
$fa-size-scale-xs       : 12 !default;
$fa-size-scale-sm       : 14 !default;
$fa-size-scale-base     : 16 !default;
$fa-size-scale-lg       : 20 !default;
$fa-size-scale-xl       : 24 !default;
$fa-size-scale-2xl      : 32 !default;

$fa-sizes: (
  "2xs"                 : $fa-size-scale-2xs,
  "xs"                  : $fa-size-scale-xs,
  "sm"                  : $fa-size-scale-sm,
  "lg"                  : $fa-size-scale-lg,
  "xl"                  : $fa-size-scale-xl,
  "2xl"                 : $fa-size-scale-2xl
) !default;
$fa-li-width            : 2em !default;
$fa-li-margin           : $fa-li-width * fa-divide(5, 4) !default;
$fa-stack-vertical-align: middle !default;
$fa-stack-width         : ($fa-fw-width * 2) !default;
$fa-stack-z-index       : auto !default;

$fa-var-a: \41;$fa-var-address-book: \f2b9;$fa-var-address-card: \f2bb;$fa-var-align-center: \f037;$fa-var-align-justify: \f039;$fa-var-align-left: \f036;$fa-var-angle-left: \f104;$fa-var-angle-right: \f105;$fa-var-arrow-down-1-9: \f162;$fa-var-arrow-down-9-1: \f886;$fa-var-arrow-down-a-z: \f15d;$fa-var-arrow-down-long: \f175;$fa-var-arrow-down-wide-short: \f160;$fa-var-arrow-down-z-a: \f881;$fa-var-arrow-left: \f060;$fa-var-arrow-left-long: \f177;$fa-var-arrow-right: \f061;$fa-var-arrow-right-arrow-left: \f0ec;$fa-var-arrow-rotate-left: \f0e2;$fa-var-arrow-rotate-right: \f01e;$fa-var-arrow-turn-up: \f148;$fa-var-arrow-up: \f062;$fa-var-arrow-up-long: \f176;$fa-var-arrow-up-right-dots: \e4b7;$fa-var-award: \f559;$fa-var-baby: \f77c;$fa-var-backward: \f04a;$fa-var-bezier-curve: \f55b;$fa-var-bold: \f032;$fa-var-book: \f02d;$fa-var-border-none: \f850;$fa-var-box-archive: \f187;$fa-var-bug: \f188;$fa-var-cake-candles: \f1fd;$fa-var-calendar-days: \f073;$fa-var-caret-left: \f0d9;$fa-var-caret-right: \f0da;$fa-var-chart-bar: \f080;$fa-var-chart-pie: \f200;$fa-var-check: \f00c;$fa-var-chess-board: \f43c;$fa-var-chevron-down: \f078;$fa-var-chevron-left: \f053;$fa-var-chevron-right: \f054;$fa-var-chevron-up: \f077;$fa-var-child: \f1ae;$fa-var-circle-dot: \f192;$fa-var-circle-stop: \f28d;$fa-var-clipboard: \f328;$fa-var-clock-rotate-left: \f1da;$fa-var-closed-captioning: \f20a;$fa-var-code-branch: \f126;$fa-var-code-fork: \e13b;$fa-var-comment-dots: \f4ad;$fa-var-comment-slash: \f4b3;$fa-var-comments: \f086;$fa-var-compress: \f066;$fa-var-crop: \f125;$fa-var-crop-simple: \f565;$fa-var-cross: \f654;$fa-var-crown: \f521;$fa-var-desktop: \f390;$fa-var-diagram-project: \f542;$fa-var-dice: \f522;$fa-var-dice-five: \f523;$fa-var-dice-four: \f524;$fa-var-dice-one: \f525;$fa-var-dice-six: \f526;$fa-var-dice-three: \f527;$fa-var-dice-two: \f528;$fa-var-dna: \f471;$fa-var-dove: \f4ba;$fa-var-down-long: \f309;$fa-var-earth-americas: \f57d;$fa-var-elevator: \e16d;$fa-var-ellipsis: \f141;$fa-var-equals: \3d;$fa-var-file: \f15b;$fa-var-file-csv: \f6dd;$fa-var-file-image: \f1c5;$fa-var-file-lines: \f15c;$fa-var-file-pdf: \f1c1;$fa-var-file-zipper: \f1c6;$fa-var-filter: \f0b0;$fa-var-folder-open: \f07c;$fa-var-forward: \f04e;$fa-var-gear: \f013;$fa-var-github: \f09b;$fa-var-globe: \f0ac;$fa-var-graduation-cap: \f19d;$fa-var-hat-wizard: \f6e8;$fa-var-heading: \f1dc;$fa-var-highlighter: \f591;$fa-var-hourglass-half: \f252;$fa-var-house: \f015;$fa-var-id-card: \f2c2;$fa-var-image: \f03e;$fa-var-image-portrait: \f3e0;$fa-var-images: \f302;$fa-var-indent: \f03c;$fa-var-info: \f129;$fa-var-italic: \f033;$fa-var-less-than-equal: \f537;$fa-var-link: \f0c1;$fa-var-link-slash: \f127;$fa-var-list: \f03a;$fa-var-list-ul: \f0ca;$fa-var-magnifying-glass: \f002;$fa-var-magnifying-glass-minus: \f010;$fa-var-magnifying-glass-plus: \f00e;$fa-var-markdown: \f60f;$fa-var-mars: \f222;$fa-var-mars-double: \f227;$fa-var-minus: \f068;$fa-var-neuter: \f22c;$fa-var-newspaper: \f1ea;$fa-var-note-sticky: \f249;$fa-var-paintbrush: \f1fc;$fa-var-pen-to-square: \f044;$fa-var-people-arrows: \e068;$fa-var-percent: \25;$fa-var-person: \f183;$fa-var-person-arrow-down-to-line: \e538;$fa-var-person-arrow-up-from-line: \e539;$fa-var-person-dress: \f182;$fa-var-person-praying: \f683;$fa-var-plus: \2b;$fa-var-power-off: \f011;$fa-var-question: \3f;$fa-var-restroom: \f7bd;$fa-var-retweet: \f079;$fa-var-right-from-bracket: \f2f5;$fa-var-right-left: \f362;$fa-var-ring: \f70b;$fa-var-rotate: \f2f1;$fa-var-screwdriver-wrench: \f7d9;$fa-var-share: \f064;$fa-var-share-nodes: \f1e0;$fa-var-shoe-prints: \f54b;$fa-var-shuffle: \f074;$fa-var-sitemap: \f0e8;$fa-var-skull-crossbones: \f714;$fa-var-sort: \f0dc;$fa-var-sort-down: \f0dd;$fa-var-sort-up: \f0de;$fa-var-star: \f005;$fa-var-superscript: \f12b;$fa-var-table: \f0ce;$fa-var-table-cells: \f00a;$fa-var-thumbs-down: \f165;$fa-var-thumbs-up: \f164;$fa-var-timeline: \e29c;$fa-var-toggle-off: \f204;$fa-var-toggle-on: \f205;$fa-var-trash: \f1f8;$fa-var-trash-can: \f2ed;$fa-var-triangle-exclamation: \f071;$fa-var-turn-up: \f3bf;$fa-var-underline: \f0cd;$fa-var-up-long: \f30c;$fa-var-user: \f007;$fa-var-user-gear: \f4fe;$fa-var-user-group: \f500;$fa-var-user-large: \f406;$fa-var-user-pen: \f4ff;$fa-var-user-plus: \f234;$fa-var-user-tie: \f508;$fa-var-user-xmark: \f235;$fa-var-users: \f0c0;$fa-var-venus: \f221;$fa-var-venus-double: \f226;$fa-var-venus-mars: \f228;$fa-var-wand-magic-sparkles: \e2ca;$fa-var-wikipedia-w: \f266;$fa-var-window-minimize: \f2d1;$fa-var-wrench: \f0ad;$fa-var-xmark: \f00d;$fa-var-z: \5a;

$fa-icons: (
    "a": $fa-var-a,
    "address-book": $fa-var-address-book,
    "address-card": $fa-var-address-card,
    "align-center": $fa-var-align-center,
    "align-justify": $fa-var-align-justify,
    "align-left": $fa-var-align-left,
    "angle-left": $fa-var-angle-left,
    "angle-right": $fa-var-angle-right,
    "arrow-down-1-9": $fa-var-arrow-down-1-9,
    "arrow-down-9-1": $fa-var-arrow-down-9-1,
    "arrow-down-a-z": $fa-var-arrow-down-a-z,
    "arrow-down-long": $fa-var-arrow-down-long,
    "arrow-down-wide-short": $fa-var-arrow-down-wide-short,
    "arrow-down-z-a": $fa-var-arrow-down-z-a,
    "arrow-left": $fa-var-arrow-left,
    "arrow-left-long": $fa-var-arrow-left-long,
    "arrow-right": $fa-var-arrow-right,
    "arrow-right-arrow-left": $fa-var-arrow-right-arrow-left,
    "arrow-rotate-left": $fa-var-arrow-rotate-left,
    "arrow-rotate-right": $fa-var-arrow-rotate-right,
    "arrow-turn-up": $fa-var-arrow-turn-up,
    "arrow-up": $fa-var-arrow-up,
    "arrow-up-long": $fa-var-arrow-up-long,
    "arrow-up-right-dots": $fa-var-arrow-up-right-dots,
    "award": $fa-var-award,
    "baby": $fa-var-baby,
    "backward": $fa-var-backward,
    "bezier-curve": $fa-var-bezier-curve,
    "bold": $fa-var-bold,
    "book": $fa-var-book,
    "border-none": $fa-var-border-none,
    "box-archive": $fa-var-box-archive,
    "bug": $fa-var-bug,
    "cake-candles": $fa-var-cake-candles,
    "calendar-days": $fa-var-calendar-days,
    "caret-left": $fa-var-caret-left,
    "caret-right": $fa-var-caret-right,
    "chart-bar": $fa-var-chart-bar,
    "chart-pie": $fa-var-chart-pie,
    "check": $fa-var-check,
    "chess-board": $fa-var-chess-board,
    "chevron-down": $fa-var-chevron-down,
    "chevron-left": $fa-var-chevron-left,
    "chevron-right": $fa-var-chevron-right,
    "chevron-up": $fa-var-chevron-up,
    "child": $fa-var-child,
    "circle-dot": $fa-var-circle-dot,
    "circle-stop": $fa-var-circle-stop,
    "clipboard": $fa-var-clipboard,
    "clock-rotate-left": $fa-var-clock-rotate-left,
    "closed-captioning": $fa-var-closed-captioning,
    "code-branch": $fa-var-code-branch,
    "code-fork": $fa-var-code-fork,
    "comment-dots": $fa-var-comment-dots,
    "comment-slash": $fa-var-comment-slash,
    "comments": $fa-var-comments,
    "compress": $fa-var-compress,
    "crop": $fa-var-crop,
    "crop-simple": $fa-var-crop-simple,
    "cross": $fa-var-cross,
    "crown": $fa-var-crown,
    "desktop": $fa-var-desktop,
    "diagram-project": $fa-var-diagram-project,
    "dice": $fa-var-dice,
    "dice-five": $fa-var-dice-five,
    "dice-four": $fa-var-dice-four,
    "dice-one": $fa-var-dice-one,
    "dice-six": $fa-var-dice-six,
    "dice-three": $fa-var-dice-three,
    "dice-two": $fa-var-dice-two,
    "dna": $fa-var-dna,
    "dove": $fa-var-dove,
    "down-long": $fa-var-down-long,
    "earth-americas": $fa-var-earth-americas,
    "elevator": $fa-var-elevator,
    "ellipsis": $fa-var-ellipsis,
    "equals": $fa-var-equals,
    "file": $fa-var-file,
    "file-csv": $fa-var-file-csv,
    "file-image": $fa-var-file-image,
    "file-lines": $fa-var-file-lines,
    "file-pdf": $fa-var-file-pdf,
    "file-zipper": $fa-var-file-zipper,
    "filter": $fa-var-filter,
    "folder-open": $fa-var-folder-open,
    "forward": $fa-var-forward,
    "gear": $fa-var-gear,
    "github": $fa-var-github,
    "globe": $fa-var-globe,
    "graduation-cap": $fa-var-graduation-cap,
    "hat-wizard": $fa-var-hat-wizard,
    "heading": $fa-var-heading,
    "highlighter": $fa-var-highlighter,
    "hourglass-half": $fa-var-hourglass-half,
    "house": $fa-var-house,
    "id-card": $fa-var-id-card,
    "image": $fa-var-image,
    "image-portrait": $fa-var-image-portrait,
    "images": $fa-var-images,
    "indent": $fa-var-indent,
    "info": $fa-var-info,
    "italic": $fa-var-italic,
    "less-than-equal": $fa-var-less-than-equal,
    "link": $fa-var-link,
    "link-slash": $fa-var-link-slash,
    "list": $fa-var-list,
    "list-ul": $fa-var-list-ul,
    "magnifying-glass": $fa-var-magnifying-glass,
    "magnifying-glass-minus": $fa-var-magnifying-glass-minus,
    "magnifying-glass-plus": $fa-var-magnifying-glass-plus,
    "markdown": $fa-var-markdown,
    "mars": $fa-var-mars,
    "mars-double": $fa-var-mars-double,
    "minus": $fa-var-minus,
    "neuter": $fa-var-neuter,
    "newspaper": $fa-var-newspaper,
    "note-sticky": $fa-var-note-sticky,
    "paintbrush": $fa-var-paintbrush,
    "pen-to-square": $fa-var-pen-to-square,
    "people-arrows": $fa-var-people-arrows,
    "percent": $fa-var-percent,
    "person": $fa-var-person,
    "person-arrow-down-to-line": $fa-var-person-arrow-down-to-line,
    "person-arrow-up-from-line": $fa-var-person-arrow-up-from-line,
    "person-dress": $fa-var-person-dress,
    "person-praying": $fa-var-person-praying,
    "plus": $fa-var-plus,
    "power-off": $fa-var-power-off,
    "question": $fa-var-question,
    "restroom": $fa-var-restroom,
    "retweet": $fa-var-retweet,
    "right-from-bracket": $fa-var-right-from-bracket,
    "right-left": $fa-var-right-left,
    "ring": $fa-var-ring,
    "rotate": $fa-var-rotate,
    "screwdriver-wrench": $fa-var-screwdriver-wrench,
    "share": $fa-var-share,
    "share-nodes": $fa-var-share-nodes,
    "shoe-prints": $fa-var-shoe-prints,
    "shuffle": $fa-var-shuffle,
    "sitemap": $fa-var-sitemap,
    "skull-crossbones": $fa-var-skull-crossbones,
    "sort": $fa-var-sort,
    "sort-down": $fa-var-sort-down,
    "sort-up": $fa-var-sort-up,
    "star": $fa-var-star,
    "superscript": $fa-var-superscript,
    "table": $fa-var-table,
    "table-cells": $fa-var-table-cells,
    "thumbs-down": $fa-var-thumbs-down,
    "thumbs-up": $fa-var-thumbs-up,
    "timeline": $fa-var-timeline,
    "toggle-off": $fa-var-toggle-off,
    "toggle-on": $fa-var-toggle-on,
    "trash": $fa-var-trash,
    "trash-can": $fa-var-trash-can,
    "triangle-exclamation": $fa-var-triangle-exclamation,
    "turn-up": $fa-var-turn-up,
    "underline": $fa-var-underline,
    "up-long": $fa-var-up-long,
    "user": $fa-var-user,
    "user-gear": $fa-var-user-gear,
    "user-group": $fa-var-user-group,
    "user-large": $fa-var-user-large,
    "user-pen": $fa-var-user-pen,
    "user-plus": $fa-var-user-plus,
    "user-tie": $fa-var-user-tie,
    "user-xmark": $fa-var-user-xmark,
    "users": $fa-var-users,
    "venus": $fa-var-venus,
    "venus-double": $fa-var-venus-double,
    "venus-mars": $fa-var-venus-mars,
    "wand-magic-sparkles": $fa-var-wand-magic-sparkles,
    "wikipedia-w": $fa-var-wikipedia-w,
    "window-minimize": $fa-var-window-minimize,
    "wrench": $fa-var-wrench,
    "xmark": $fa-var-xmark,
    "z": $fa-var-z
);

